[Unit]
Description=sip2 proxy server

[Service]
Type=forking
ExecStart=python2 /home/adli/sip2_proxy/sip2_proxy_service.py start
ExecStop=python2 /home/adli/sip2_proxy/sip2_proxy_service.py stop
