[Unit]
Description=sip2 proxy server

[Service]
Type=Simple
ExecStart=/home/adli/sip2_proxy/sip2_proxy_service.py

[Install]
WantedBy=multi-user.target
